:root {
    --bg: #b3e3ff;
    --card-bg: #ffffff;
    --text: #222;
    --input-bg: #ffffff;
    --list-bg: #eee;
    --shadow: rgba(0,0,0,0.5);

    --btn-green: rgb(84, 228, 84);
    --btn-green-hover: rgb(69, 223, 69);

    --filter-bg: linear-gradient(120deg,rgb(93, 92, 124),rgb(60, 59, 94),rgb(7, 4, 104));
    --filter-bg-hover: rgb(81, 67, 121);
    --filter-active: linear-gradient(120deg,rgb(131, 236, 255),rgb(239, 245, 245),rgb(18, 221, 228));
    --float-shadow : 0 2px 10px rgb(0, 0, 0);
}

/* DARK MODE */
.dark {
    --bg: #0f1320;
    --card-bg: #1b2030;
    --text: #e5e5e5;
    --input-bg: #252b3b;
    --list-bg: #2a3042;
    --shadow: rgba(255,255,255,0.1);

    --btn-green: rgb(67, 190, 67);
    --btn-green-hover: rgb(52, 160, 52);

    --filter-bg: linear-gradient(120deg,rgb(40, 38, 72),rgb(27, 26, 54),rgb(4, 2, 62));
    --filter-bg-hover: rgb(47, 44, 83);
    --filter-active: linear-gradient(120deg,rgb(0, 212, 255),rgb(33, 141, 241),rgb(0, 150, 199));
    --float-shadow : 0 2px 10px rgb(253, 253, 253);
}


body{
    background: var(--bg);
    color: var(--text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    transition: background 0.3s ease, color 0.3s ease;
}

.app-container{
    background: var(--card-bg);
    padding: 20px;
    width: 650px;
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--shadow);
    transition: background 0.3s ease, color 0.3s ease;
}

h1{
    text-align: center;
}
.input-section{
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 10px;
}
#taskInput{
    padding: 10px;
    width: 50%;
    background: var(--input-bg);
    color: var(--text);
    border: 1px solid var(--shadow);
    transition: all 0.3s ease;
}

#addBtn{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: var(--btn-green);
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.25s ease;
}
#addBtn:hover{
    background: var(--btn-green-hover);
}

#addBtn:active{
    transform: scale(0.80);
    box-shadow: 0 2px 10px black;
}
.filters{ 
    margin: 15px 0; 
    display: flex; 
    justify-content: space-evenly; 
}
.filters button{
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 5px;
    background: var(--filter-bg);
    transition: background 0.2s ease, transform 0.2s ease-in-out;
}

.filters button:hover{
    background: var(--filter-bg-hover);
}

.filters button.active{
    color: black;
    background: var(--filter-active);
}

.filters button:active{
    transform: scale(0.90);
}
#tackList{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
#completeBtn{
    background: rgba(106, 243, 106, 0.753);
    transition: all 0.25s ease-in-out;
}
#completeBtn:hover{
    transform: scale(1.07);
}
#deleteBtn{
    transition: all 0.25s ease-out;
}
#deleteBtn:hover{
    transform: scale(0.80);
}
li{
    background: var(--list-bg);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.completed{
    text-decoration: line-through;
    opacity: 0.7;
}
#themeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: larger;
    background: var(--list-bg);
    border: 1px solid var(--shadow);
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text);
    box-shadow: var(--float-shadow);
    animation: floaty 2s ease-in-out infinite;
}
@keyframes floaty {
    0% {transform: translateY(0); }
    50% {transform: translateY(-8px); }
    100% {transform: translateY(0); }
}

/* --- Animation for adding tasks --- */

.task-enter{
    opacity: 0;
    transform: translateY((10px));
}
.task-enter-active{
    opacity: 1;
    transform:  translateY(0);
    transition: all 0.25s ease-in-out;
}
